<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (onsubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Activity </ion-label>
        <ion-input
          name="activity"
          [(ngModel)]="activity"
          required
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Character</ion-label>
        <ion-select
          name="character"
          [(ngModel)]="characterName"
          (ionChange)="selectionChange()"
          value="character"
          interface="action-sheet"
          required
        >
          <ion-select-option *ngFor="let char of charData" [value]="char.name"
            >{{ char.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button (click)="submit()">Submit</ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
