<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form onsubmit="">
    <ion-item>
      <ion-label position="floating"
        >Activity <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"
        >Activity <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input required type="text"></ion-input>
    </ion-item>
  </form>
</ion-content>
